{% extends 'base.html' %}
{% block body %}

<div class="wrapper">
    <div class="content">
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" class="form">
            <!-- <h1 class="heading">Phát hiện khối u não 🧠</h1> -->

            <!-- Form Thêm Ảnh -->
            <div class="form-image" id="formImage">
                <i class="icon fa-solid fa-arrow-up-from-bracket"></i>
                <span class="text">Kéo và thả file để tải lên, hoặc chọn file hình ảnh <i
                        class="fa-solid fa-image"></i></span>
                <input class="file" id="fileInput" type="file" accept="image/*" multiple>
            </div>

            <h2 class="title">Hình đã chọn</h2>

            <!-- Form Hiển Thị Ảnh-->
            <div class="form-select" id="form-selected">
                <!-- <div class="form-select__image">
                        <img id="selectedImage1" src="static/assets/img/meme.jpg" alt="hinh-1">
                    </div> -->
            </div>

            <!-- Form Button -->
            <div class="form-btn">
                <button id="show_result" aria-label="Upload Image">
                    <span class="button_top"> Bắt Đầu </span>
                </button>
            </div>

        </div>

        <!-- Kết quả -->
        <div class="result ">
        </div>
    </div>
</div>

{% endblock %}